html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  max-width: $website-width;
  margin-left: auto;
  margin-right: auto;
}

.content, body > .ember-view, .ace-editor, pre {
  background-color: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

main.content {
  padding: 10px;
  padding-bottom: 50px;
}

header {
  background-color: $main-color;
  border-radius: 0 0 3px 3px;
  color: white;
  padding: 30px 20px;
  h1 {
    margin: 0;
    text-align: center;
    i.fa {
      font-size: 50px;
      margin-bottom: 10px;
    }
    span.line-through {
      text-decoration: line-through;
      color: white;
      span {
        color: lighten($main-color, 30%);
      }
    }
  }
}

footer {
  border: 1px solid $main-color;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  color: $main-color;
  padding: 10px;
  p {
    text-align: center;
    font-size: 12px;
    margin: 0;
  }
}

@media screen and (max-width: $website-width) {
  header {
    border-radius: 0;
  }
  footer {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

a {
  cursor: pointer;
}

