<header>
  <h1><i class="fa fa-github"></i></h1>
  <h1>Pagina.io</h1>
</header>

<main class="content">{{outlet}}</main>

<footer>
  <p>build v0.0.7 in Amsterdam
    by <a href="https://github.com/mtimofiiv" title="GitHub Profile" target="_blank">Mike</a>
    and <a href="https://github.com/harianus" title="GitHub Profile" target="_blank">Adriaan</a>
  </p>
</footer>
