<div class="container">

  <header>
    <h1><i class="fa fa-github"></i></h1>
    <h1>Jikk<span class="line-through"><span>e</span></span>yll.</h1>
  </header>

  <main>{{outlet}}</main>

  <footer>
    <p>build v0.0.4 in Amsterdam
      by <a href="https://github.com/mtimofiiv" target="_blank">Mike</a>
      and <a href="https://github.com/harianus" target="_blank">Adriaan</a>
    </p>
  </footer>

</div>
