textarea.editor {
  width: 100%;
  min-height: 500px;
}

.button.edit {
  float: right;
  margin-top: 22px;
}

.button.edit + .button.edit {
  margin-right: 20px;
}

.button.edit.cancel {
  background-color: grey;
}
