<h1>Your repo's</h1>

{{input type="text" value=keyword}}

{{#if results}}
  <ul>
    {{#each results key='id' as |repo|}}
      <li><a {{action 'createRepo' repo}}>{{repo.owner}}/{{repo.name}}</a></li>
    {{/each}}
  </ul>
{{/if}}