<h1>Your repo's</h1>

{{#if isScanning}}
  <p>We are scanning your repo's for the GitHub Pages branch and looking for Jekyll files inside of it.</p>
  {{ember-spinner lines=11 length=5 radius=8 width=3 rotate=10 speed='1.0' color="#3FBD5E"}}
{{else}}
  {{#if repos.firstObject}}
    <p>Select the repository you want to edit like a boss</p>
    <ul>
      {{#each repos key='id' as |repo|}}
        <li>{{#link-to 'user.repo' username repo.name}}{{repo.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>We have NO results!</p>
  {{/if}}
{{/if}}
