<h1>Your repo's</h1>

{{#if isScanning}}
  <p>We are scanning your repo's for the GitHub Pages branch and looking for Jekyll files inside of it.</p>
  <p><img src="http://media.mediatemple.netdna-cdn.com/wp-content/uploads/2014/07/octojekyll-opt.jpg" class="breathing"></p>
{{else}}
  {{#if repos.firstObject}}
    <p>Select the repository you want to edit like a boss</p>
    <ul>
      {{#each repos as |repo|}}
        <li>{{repo.name}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>We have NO results!</p>
  {{/if}}
{{/if}}
